In [1]:
import pandas as pd
import numpy as np

# Данные

In [2]:
stat = pd.read_csv('https://stepik.org/media/attachments/course/4852/my_stat.csv')
stat.head(1)

   V1    V2 V3   V4
0   2  13.0  B  1.0

# Конфигурирование

# Series

## Способы создания

#

# DataFrame

# Способы создания

# Чтение данных из разных источников

### Интересные параметры

In [3]:
# index_col - сообщаем какую колоку использовать в качестве индексной (по индексу или по названию)

### JSON

### CSV

### Excel

### SQL

# Переименование столбцов, индексов

In [4]:
#%timeit stat.columns = {'session_value':'V1', 'group':'V2', 'time':'V3', 'n_users':'V4'}
#%timeit stat.columns = ['session_value','group','time','n_users']
#%timeit stat.rename(columns={'V1': 'session_value', 'V2': 'group', 'V3': 'time', 'V4': 'n_users'})
#%timeit stat.columns = ['V1','V2','V3','V4']

In [5]:
stat.columns = {'session_value':'V1', 'group':'V2', 'time':'V3', 'n_users':'V4'}
stat.columns = ['V1','V2','V3','V4']
stat.columns

Index(['V1', 'V2', 'V3', 'V4'], dtype='object')

# Первичная обработка данных

## Дубликаты

## Пропуски

In [6]:
make_na_indexes = stat.sample(20).index
stat.loc[stat.index.isin(make_na_indexes[:5]), 'V3'] = np.nan
stat.loc[stat.index.isin(make_na_indexes[5:10]), 'V4'] = np.nan
stat.loc[stat.index.isin(make_na_indexes[7:15]), 'V2'] = np.nan
stat.loc[stat.index.isin(make_na_indexes[15:21]), 'V1'] = np.nan
print(stat.isna().sum())
stat.V3 = stat.V3.fillna(0)
print(stat.isna().sum())
stat = stat.fillna(value={'V1': stat.loc[stat['V1'] > 0, 'V1'].median(), 'V2': stat['V2'].max(), 'V3': stat['V3'].mode(), 'V4': 0})
print(stat.isna().sum())

V1    5
V2    8
V3    5
V4    5
dtype: int64
V1    5
V2    8
V3    0
V4    5
dtype: int64
V1    0
V2    0
V3    0
V4    0
dtype: int64

# Первичное исследование данных

In [7]:
# info, describe, unique, value_counts,

# Индексирование, срезы

# Замена данных

In [8]:
print(stat.V1.value_counts())
stat.loc[stat.V1 < -1, 'V1'] = stat.query('V1 > -1')['V1'].median()
print(stat.V1.value_counts())
stat.V1 = stat.V1.where(stat.V1 == -1, 100)
print(stat.V1.value_counts())
stat.loc[stat.V1 == 100, 'V1'] = 1000
print(stat.V1.value_counts())

V1
 0.0    193
 1.0     86
-1.0     72
-2.0     48
 2.0     43
 3.0     24
-3.0     16
 4.0      6
 5.0      4
-4.0      4
 6.0      1
-5.0      1
-6.0      1
 7.0      1
Name: count, dtype: int64
V1
 0.0    263
 1.0     86
-1.0     72
 2.0     43
 3.0     24
 4.0      6
 5.0      4
 6.0      1
 7.0      1
Name: count, dtype: int64
V1
 100.0    428
-1.0       72
Name: count, dtype: int64
V1
 1000.0    428
-1.0        72
Name: count, dtype: int64

# Работа со строками

### Отсев строк по индексу

In [9]:
# отобрать из DF все строки кроме 2 и 4, колонки 1 и 2
stat.iloc[~stat.index.isin([1,3]), :2]
stat.iloc[:, :2].drop(labels=[1,3], axis=0)
stat.drop(index=[1,3], columns=['V3', 'V4'])
stat.iloc[:, :2].query('index != 1 and index != 3')

         V1    V2
0    1000.0  13.0
2    1000.0  11.0
4    1000.0  10.0
5    1000.0  11.0
6    1000.0   9.0
..      ...   ...
495  1000.0   8.0
496  1000.0   8.0
497    -1.0  11.0
498  1000.0  13.0
499  1000.0  13.0

[498 rows x 2 columns]

### Перебор строк DataFrame

# Работа со столбцами

# Фильтрация

## По условию

### C помощью булевых масок

In [10]:
find_value = 'A'
stat[(stat.V1 > 0) & (stat.V3 == find_value)]
# отрицание (инвертирование)
stat[~(stat.V2 == 10) & (stat.V4 >= 1)].shape
# список значений
stat.loc[stat.V2.isin([10, 11]), ['V3', 'V4']]

    V3   V4
2    A  0.0
3    A  2.0
4    B -1.0
5    A  0.0
9    A  0.0
..  ..  ...
487  B -0.0
488  B -0.0
489  A -0.0
494  A  1.0
497  B  2.0

[304 rows x 2 columns]

### query

In [11]:
find_value = 'A'
subset_1 = stat.query('V1 > 0 and V3 == @find_value')
subset_2 = stat.query('V2 != 10 and V4 >= 1')
subset_2.shape

(214, 4)

## По названиям и индексам строк и столбцов

In [12]:
# отобрать из DF все строки кроме 2 и 4, колонки 1 и 2
stat.iloc[~stat.index.isin([1,3]), :2]
stat.iloc[:, :2].drop(labels=[1,3], axis=0)
stat.drop(index=[1,3], columns=['V3', 'V4'])
stat.iloc[:, :2].query('index != 1 and index != 3').shape

(498, 2)

### По условию на значения в столбцах

# Сортировка

# Применение функций

# Столбцы

In [13]:
def sum_col_with_two(col):
    return col + 2

### apply

In [14]:
stat.apply(lambda x: x.V1 + x.V2, axis = 1).head(1)

0    1013.0
dtype: float64

### assign

In [15]:
stat.assign(new_col = stat['V1'] + stat['V2']).head(1)
stat.assign(new_col = sum_col_with_two(stat['V2'])).head(1)
# несколько колонок
stat.assign(new_1 = sum_col_with_two(stat['V2']), new_2 = lambda x: x.V1 + x.V2, new_3 = 2 + 4 / 5, new_4 = stat.V1 + stat.V2, new_5 = np.log(stat.V2))

         V1    V2 V3   V4  new_1   new_2  new_3   new_4     new_5
0    1000.0  13.0  B  1.0   15.0  1013.0    2.8  1013.0  2.564949
1      -1.0   7.0  B  1.0    9.0     6.0    2.8     6.0  1.945910
2    1000.0  11.0  A  0.0   13.0  1011.0    2.8  1011.0  2.397895
3    1000.0  11.0  A  2.0   13.0  1011.0    2.8  1011.0  2.397895
4    1000.0  10.0  B -1.0   12.0  1010.0    2.8  1010.0  2.302585
..      ...   ... ..  ...    ...     ...    ...     ...       ...
495  1000.0   8.0  A -1.0   10.0  1008.0    2.8  1008.0  2.079442
496  1000.0   8.0  A  1.0   10.0  1008.0    2.8  1008.0  2.079442
497    -1.0  11.0  B  2.0   13.0    10.0    2.8    10.0  2.397895
498  1000.0  13.0  A  2.0   15.0  1013.0    2.8  1013.0  2.564949
499  1000.0  13.0  B  0.0   15.0  1013.0    2.8  1013.0  2.564949

[500 rows x 9 columns]

### eval

In [16]:
# только для простых математических операций с колонками DF
stat.eval('new_col = (V1 + V2) / V4').head(1)

       V1    V2 V3   V4  new_col
0  1000.0  13.0  B  1.0   1013.0

In [17]:
# df.sum(axis=1) - сумммирование по строкам 
# df.sum(axis=0) - суммирование по столбцам

# Группировка и агрегация

## Groupby

### Подсчет количества значений

## agg

In [25]:
stat.groupby('V3', as_index = False).agg({'V2': 'mean'}).rename(columns={'V2':'V2_mean'})

  V3    V2_mean
0  0  10.200000
1  A  10.137652
2  B  10.040323

## aggregate

# Мультииндексы

# Объединение датафреймов

In [18]:
# concat, merge,

# Изменение формы таблицы

In [19]:
# https://medium.com/swlh/reshape-pandas-data-frames-30c218ff07aa
# https://python-school.ru/blog/pandas-reshaping/

## Stack

## Unstack

## Melt

## Pivot table (сводная таблица)

# Работа с временными рядами

In [26]:
# handle dates and times, perform time series analysis, generating data ranges and frequencies, 
# time series data resample, time series data shifting and rolling

In [35]:
time_period = pd.Period('2023-10-04', freq='M')
year = time_period.year
month = time_period.month
day = time_period.day
print(year, month, day)

2023 10 31

In [37]:
timestamp = pd.Timestamp('2023-10-04 10:00:00')
time_offset = pd.DateOffset(years=2, months=1, days=50)
print(timestamp + time_offset)

2025-12-24 10:00:00

In [39]:
data = pd.date_range('1-1-2011', periods=10, freq='H')
data

DatetimeIndex(['2011-01-01 00:00:00', '2011-01-01 01:00:00',
               '2011-01-01 02:00:00', '2011-01-01 03:00:00',
               '2011-01-01 04:00:00', '2011-01-01 05:00:00',
               '2011-01-01 06:00:00', '2011-01-01 07:00:00',
               '2011-01-01 08:00:00', '2011-01-01 09:00:00'],
              dtype='datetime64[ns]', freq='H')

In [46]:
pd.to_datetime('10-10-2020 12:00:00').year

2020

In [52]:
dt_df = pd.read_csv('http://bit.ly/uforeports')
print(dt_df['Time'].dtype)
print(pd.to_datetime(dt_df['Time']).dt.hour.head(2))
dt_df = pd.read_csv('http://bit.ly/uforeports', parse_dates=['Time'])
print(dt_df['Time'].dtype)

object
0    22
1    20
Name: Time, dtype: int32
datetime64[ns]

# Работа с текстовой информацией

In [21]:
# handle strings, perform text analysis, extraction information from text, regular expressions, 
# strings split and join with pandas, characters replace and removing with pandas

# Работа с категориальными данными

In [22]:
# categorical variables handling, categorical analysis, encode and decode categories with pandas,
# compare and ordering categories 
# rename categories