In [2]:
!conda info

     active environment : pandas_edu
    active env location : /home/behappyman/anaconda3/envs/pandas_edu
            shell level : 2
       user config file : /home/behappyman/.condarc
 populated config files :
          conda version : 23.7.4
    conda-build version : 3.26.1
         python version : 3.11.5.final.0
       virtual packages : __archspec=1=x86_64
                          __glibc=2.35=0
                          __linux=5.15.0=0
                          __unix=0=0
       base environment : /home/behappyman/anaconda3  (writable)
      conda av data dir : /home/behappyman/anaconda3/etc/conda
  conda av metadata url : None
           channel URLs : https://repo.anaconda.com/pkgs/main/linux-64
                          https://repo.anaconda.com/pkgs/main/noarch
                          https://repo.anaconda.com/pkgs/r/linux-64
                          https://repo.anaconda.com/pkgs/r/noarch
          package cache : /home/behappyman/anaconda3/pkgs
                          /home/behappyman/.conda/pkgs
       envs directories : /home/behappyman/anaconda3/envs
                          /home/behappyman/.conda/envs
               platform : linux-64
             user-agent : conda/23.7.4 requests/2.31.0 CPython/3.11.5 Linux/5.15.0-79-generic linuxmint/21.2 glibc/2.35 aau/0.4.2 c/gOjIcH-Rk4f-gHYMfQy9QA s/sRP4NJE5RxO6FKNN_D3ICw e/mhF8q_V8lIIlbDODyTc72g
                UID:GID : 1000:1000
             netrc file : None
           offline mode : False

In [4]:
import pandas as pd
import numpy as np

# Pandas

## Series

### Созданиe

In [37]:
cities = ['Moscow', 'Saint-Petersburg', 'Penza']
area = [123, 100, 15]
cities_area_series = pd.Series(data=area, index=cities, name='cities_area')
cities_area_series

Moscow              123
Saint-Petersburg    100
Penza                15
Name: cities_area, dtype: int64

In [43]:
cars_price = {'geely': 2_000_000, 'haval': 2.5*1E6}
pd.Series(cars_price, name='cars_price')

geely    2000000.0
haval    2500000.0
Name: cars_price, dtype: float64

### Получение данных

In [21]:
print(cities_area_series['Moscow'], cities_area_series.iloc[0])

123 123

### Изменение данных

In [23]:
cities_area_series['Moscow'] = 250
print(cities_area_series['Moscow'])

250

In [35]:
cities_area_series.index=['London', 'Paris', 'Amsterdam']

In [36]:
cities_area_series

London       250
Paris        100
Amsterdam     15
Name: cities_area, dtype: int64

## DataFrame

### Создание

In [49]:
people_info = [dict(age=25, height=180, weight=78), dict(age=35, height=190, weight=95)]
pd.DataFrame(people_info)

   age  height  weight
0   25     180      78
1   35     190      95

In [53]:
people_info = dict(Bob=dict(age=25, height=180, weight=78), Ann=dict(age=45, height=150, weight=99))
pd.DataFrame(people_info)

        Bob  Ann
age      25   45
height  180  150
weight   78   99

In [54]:
people_names = ['Bob', 'Ann']
people_description = [dict(age=25, height=180, weight=78), dict(age=35, height=190, weight=95)]

pd.DataFrame(data=people_description, index=people_names)

     age  height  weight
Bob   25     180      78
Ann   35     190      95

### Получение данных

### Изменение даннных